@namespace BlazorFastSpoiler.Components
<div @ref="_containerRef"
     class="@CssClass"
     style="@InlineStyle"
     @onclick="HandleClick"
     @onkeydown="HandleKeyDown"
     role="button"
     tabindex="@TabIndex"
     aria-label="@AriaLabel"
     aria-pressed="@AriaPressed">
    @ChildContent
</div>
